{% extends "blog/base.html" %}
{% block title %}
        {{ post.title }}
{% endblock %}
{% block content %}
        <main>
                <p>{{ post.tags.all|join:', ' }}</p>
                <h1>{{ post.title }}</h1>
                <p>In: {{ post.created_at.date }}</p>
                <p>By: {{ post.author }}</p>
                <p>{{ post.body }}</p>
                <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit">
                </form>
                {% for comment in post.comments.all %}
                        <p>From: {{ comment.author }}</p>
                        <p>{{ comment.created_at.date }}</p>
                        <p>{{ comment.body }}</p>
                {% endfor %}
        </main>
{% endblock %}
